@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Coda:800,400");
* {
  box-sizing: border-box;
}
.coda-extra-bold-aqua-deep-20px {
  color: var(--aqua-deep);
  font-family: "Coda", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
}
.coda-extra-bold-monte-carlo-20px {
  color: var(--monte-carlo);
  font-family: "Coda", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
}
.coda-extra-bold-monte-carlo-28px {
  color: var(--monte-carlo);
  font-family: "Coda", Helvetica, Arial, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.coda-normal-cruise-16px {
  color: var(--cruise);
  font-family: "Coda", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.coda-normal-monte-carlo-14px {
  color: var(--monte-carlo);
  font-family: "Coda", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.coda-normal-monte-carlo-16px {
  color: var(--monte-carlo);
  font-family: "Coda", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.coda-normal-monte-carlo-18px {
  color: var(--monte-carlo);
  font-family: "Coda", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.coda-normal-monte-carlo-20px {
  color: var(--monte-carlo);
  font-family: "Coda", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.coda-normal-monte-carlo-22px {
  color: var(--monte-carlo);
  font-family: "Coda", Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.coda-normal-monte-carlo-42px {
  color: var(--monte-carlo);
  font-family: "Coda", Helvetica, Arial, serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --aqua-deep: rgba(5, 73, 57, 1);
  --black-bean: rgba(6, 18, 16, 1);
  --cruise: rgba(187, 233, 222, 1);
  --monte-carlo: rgba(148, 207, 193, 1);
  --stromboli: rgba(51, 85, 77, 1);
}
